body{
    background-image: url(./main.jpg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.marquee {
    color: #e6ff04;
    font-size: 3em;
    margin-top: 100px;
    text-align: center;
}

.mytext{
    color: #fff;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.myp{
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mybtn {
    background: #c6d351;
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.25s;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    text-align: center;
}

.mybtn:hover{
    color: #fff;
    background: #42558d;
}

@media (min-width: 368px) {
    body{
        width: auto;
        height: 100vh;
        overflow-y: hidden;
    }
}

@media (max-width: 578px) {
    body{
        width: auto;
        height: 100vh;
        overflow-y: hidden;
    }

    .marquee {
        font-size: 2em;
    }

    .mytext{
        font-size: 1.5em;
    }

    .mybtn{
        background: #c6d351;
        color: #fff;
        font-size: 2em;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 10px;
        transition: background-color 0.25s;
        font-weight: bold;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        text-align: center;
    }
}

